@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 220 98% 19%; /*222.2 47.4% 11.2%; #012060*/
    --primary-foreground: 0 0 100%; /*210 40% 98%; #FFFFFF*/

    --secondary: 34 95% 49%; /*222.2 47.4% 11.2%; #F48C06*/
    --secondary-foreground: 0 0 100%; /*210 40% 98%; #FFFFFF*/

    --muted: 200 23% 97%; /*210 40% 96.1%; #F7F9FA*/
    --muted-foreground: 240 11% 46%; /* 215.4 16.3% 46.9%; #696984*/

    --accent: 200 23% 97%; /*210 40% 96.1%; #F7F9FA*/
    --accent-foreground: 240 11% 46%; /*#696984*/

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0 100%; /*210 40% 98%;*/

    --border: 214.3 31.8% 91.4%;
    --input: 34 95% 49%; /*214.3 31.8% 91.4%;*/
    --ring: 200 23% 97%; /*222.2 84% 4.9%; #F7F9FA*/

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 0 0 95; /*210 40% 98%; #F2F2F2*/

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 217.2 32.6% 17.5%;
    --primary-foreground: 210 40% 98%;

    --secondary: 34 95% 49%; /*222.2 47.4% 11.2%; #F48C06*/
    --secondary-foreground: 0 0 100%; /*210 40% 98%; #FFFFFF*/

    /* --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%; */

    /* --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%; */

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 217.2 32.6% 17.5%; /*212.7 26.8% 83.9%;*/
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  p {
    @apply mb-4 text-blue-txt;
  }

  .shadowVideo {
    @apply absolute top-0 left-0 w-full h-full z-0 opacity-75 bg-gradient-to-b from-blue-bg to-[#932616];
  }
  .txtVideoHero {
    @apply absolute z-10 top-2/3 sm:top-1/2 md:top-2/3 xl:top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center w-full text-white;
  }
  .mask-image {
    mask-image: linear-gradient(#000 85%, #0000 100%);
  }
}
